@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

* {
   margin: 0;
   padding: 0;
}
body {
    width: auto;
    margin: auto;
}

/*--- Header ---*/

header {
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(img/fondo-header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1600px;
}

.iconos {
    display: flex;
    width: 100%;
    max-width: 250px;
    height: 27px;
    justify-content: space-around;
    align-items: center;
    padding-top: 1.10%;
    padding-right: 30px;
    overflow: hidden;
}

.botonera {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 46px;
    list-style: none;
}

.botonera li {
    padding-right: 10%;
}

.botonera > li > a {
    display: block;
}

.botoner > li:hover {
    color: #3DD12F;
}
.navconteiner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1250px;
    padding-left: 10%;
}

.botonera a {
    display: block;
    padding: 10px;
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 28px;
    color: #ffff;
    letter-spacing: 1.4px;
}

.botonera a:hover {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 28px;
    color: #3DD12F;
    letter-spacing: 1.4px;
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    list-style: none;
}

li {
    list-style: none;
    padding-right: 60px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    width: 118px;
    height: 68px;
    padding-top: 14px;
}

a {
    text-decoration: none;
}

.desplegable {
    position: absolute;
    display: none;
    width: 154px;
    height: 280px;
}

.desplegable :hover {
    display: block;
    position: absolute;
    width: 154px;
    height: 240px;
}

.desplegable li {
    display: none;
    align-items: center;
    margin: 6px;
    width: 222px;
    height: 52px;
    background: linear-gradient(90deg,#000000e4 10%,#33ba26f1,#ff1c8288);
    background-color: #acabab3c;
}

.botonera li:hover .menu-vertical {
    display: block;
}

.botonera li:hover {
    color: #3DD12F;
}

.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 154px;
    height: 280px;
}

.menu-vertical li {
    align-items: center;
    margin: 6px;
    width: 222px;
    height: 54px;
    background: linear-gradient(90deg,#000000e4 10%,#33ba26f1,#ff1c8288);
    background-color: #acabab3c;
}

/*--- Header FIN ---*/

h1 {
    font-family: "Covered By Your Grace";
    font-style: normal;
    font-optical-sizing: auto;
    font-size: 70px;
    color: black;
    width: 100%;
    height: 100%;
    text-align: center; 
    font-weight: 400; 
    letter-spacing: 3.50px;
}

h2 {
    font-family: "Exo", sans-serif;
    font-style: normal;
    font-size: 35px;
    font-weight: 400;
    color: white;
    padding-bottom: 20px;
}


#nosotros{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: column;
    background-image: url(img/imagen-fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.titulonosotros {
    background-color: white;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.imgnoso {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: auto;
    max-width: 1920px;
    padding-top: 30px;
}

.img-ropa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: auto;
    max-width: 1920px;
    padding-top: 30px;
}

.img-acce {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    max-width: 1920px;
    padding-top: 30px;
}

.sectiondiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 1600px;
    padding-top: 90px;
    padding-bottom: 90px;
}

#div01 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 834px;
    max-width: 1920px;
    justify-content: flex-start;
}

#div02 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding-left: 40px;
}

#div03 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-left: 90px;
}


.textoinfo {
    font-family: "Exo", sans-serif;
    font-style: normal;
    font-size: 25px;
    color: white;
    width: 800px;
    padding-top: 3%;
    letter-spacing: 1.30px;
    font-weight: 200; 
}

#colabora {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: column;
    background-image: url(img/imagen-fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.textoinfo2 {
    font-family: "Exo", sans-serif;
    font-style: normal;
    font-size: 24px;
    color: white;
}

#section-uno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.categorias {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    width: 100%;
}

.encabezado {
    display: flex;
    justify-content: last baseline;
    align-items: center;
    padding-top: 2%;
}

#galeria {
    padding-top: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-image: url(img/imagen-fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 68px 22px;
    padding-bottom: 100px;
}

.divfiltro {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    display: block;
    margin-left: 8%;
}

.botonfiltro {
    background-color: #0D0D0D;
    border: none;
    padding: 10px;
    color: #FFF;
    font-family: "Covered By Your Grace";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.7px;
    text-align: start;
    display: block;
}

.desplegablefiltro {
    display: flex;
    flex-direction: column;
    position: absolute;
    display: none;
}

.divfiltro:hover .desplegablefiltro {
    display: block;
}

.opcionesfiltro {
    display: block;
    background-color: #0D0D0D;
    padding: 12px;
    color: #FFF;
    font-family: "Covered By Your Grace";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.7px;
    text-align: start;
}

.opcionesfiltro:hover {
    color: #FFF;
    background-color: #E8237D;
}

.todos{
    color: #ffff;
}

.galeriapro {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    flex-wrap: wrap;
    padding: 30px 0px 0px 30px;
}

.proinicio {
    color: #FFF;
    text-align: center;
    font-family: "Exo", sans-serif;
    font-style: normal;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.1px;
}

.precio {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: "Exo", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: normal;
    letter-spacing: 1.2px;
    background-color: #E8237D;
    width: 180px;
    height: 41px;
}

.precio-producto {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: "Exo", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: normal;
    letter-spacing: 1.2px;
    background-color: #E8237D;
    width: 180px;
    height: 41px;
}

.comprar-img {
    position: absolute;
    opacity: 0;
}

.comprar-img:hover {
    opacity: 1;
    box-shadow: 1px black;
}

.articulo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 16px;
    padding-top: 6px;
    width: 300px;
    height: 437px;
}

.flexible {
    display: block;
    justify-content: center;
    align-items: center;
}

.cargar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 62px;
    background-color: black;
    margin: 2%;
}

.a-ver1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cargar :hover {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 256px;
    height: 62px;
    background-color: #E8237D;;
}

.letras {
    font-family: "Covered By Your Grace";
    font-optical-sizing: auto;
    font-size: 34px;
    letter-spacing: 1.7px;
    color: #ffff;
}

.contenedor-footer {
    display: flex;
    justify-content: space-between;
    max-width: 1550px;
    margin-right: 57px;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: first baseline;
    width: 100%;
    height: 209px;
    padding-top: 2%;
    background-color: #0D0D0D;
    background-size: cover;
    color: #FFF;
    font-family: Exo;
    font-size: 15px;
    font-style: normal;
    letter-spacing: 0.75px;
    line-height: 22px;
} 

.sobre-compra, .sobre-contacto, .sobre-integrantes, .sobre-cursada {
    width: 100%;
    max-width: 230px;
}

footer img {
    padding-top: 4%;
}

#redes {
    display: flex;
    justify-content: space-between;
    padding-top: 4%;
    max-width: 40%;
}

.local {
    padding-top: 8%;
}

.columnas {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1700px
}

.item-remeras{
    display: block;
}

.nombrescategorias {
    text-align: center;
    font-family: "Covered By Your Grace";
    font-optical-sizing: auto;
    font-size: 34px;
    letter-spacing: 1.7px;
    color: black;
}

.contenedor-carrusel {
    width: 100%;
    width: 1780px;
    display: flex;
    justify-content: space-between;
    overflow: scroll;
}

.contenedor-carrusel div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 18px;
    flex: none;
    padding: 1%;
}

.contenedor-carrusel::-webkit-scrollbar {
    display: none;
    padding-right: 2%;
    padding-left: 2%;
}

.carrusel-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% 4% 8% 4%;
    height: auto;
    padding-bottom: 50px;
}

#irbtn, #volverbtn {
    cursor: pointer;
    margin: 35px;
}

.remeras-carrusel {
    display: block;
    max-width: 320px;
}

.titulo-categoria {
    text-align: center;
    font-family: "Covered By Your Grace";
    font-size: 2.75em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    padding-top: 1%;
    color: black;
}

.titulo-categoria:hover {
    text-decoration: none;
    color: black;
}

.iconos ul li a :hover{
    filter: hue-rotate(240deg);
    opacity: 92%;
}

.mainproducto {
    background-image: url(img/imagen-fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
    font-family: exo;
    color: #FFF;
}

.contenedorproducto {
    display: flex;
    gap: 2%;
}

.informacionenproducto {
    display: flex;
    flex-direction: column;
    gap: 36%;
}

.informacionenproducto p {
    font-size: 22px;
    font-weight: normal;
}

.info1producto h2 {
    font-size: 35px;
    padding-bottom: 10px;
    font-weight: bold;
}

.informacionenproducto h3 {
    font-size: 22px;
}

.tallecantidadycompra {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.info3producto {
    display: flex;
    gap: 2%;
    align-items: center;
}

.botontalle {
    background-color: #b4b4b4;
    border: none;
    border-radius: 0px 20px 0px 0px;
    width: 322px;
    height: auto;
    font-family: exo;
    font-size: 18px;
    display: block;
}

.divtalle {
    display: block;
}

.desplegabletalle {
    display: flex;
    flex-direction: column;
    position: absolute;
    display: none;
}

.divtalle:hover .desplegabletalle {
    display: block;
}

.opcionestalle {
    display: block;
    background-color: #b4b4b4;
    width: 322px;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    color: #000;
}

.opcionestalle:hover {
    background-color: #3DD12F;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

.info5producto {
    background-color: #3DD12F;
    width: 366px;
    color: #000;
    padding: 10px;
    font-family: exo;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

.info5producto:hover {
    background-color: #E8237D;
    color: #FFF;
}

.cantidadybotones {
    display: flex;
    gap: 6%;
    align-items: center;
}

.botonescantidad {
    display: flex;
    align-items: center;
    gap: 2%;
}

.botonresta, .botonsuma {
    background-color: #E8237D;
    width: 30px;
    height: 30px;
    border-radius: 13px;
    border: none;
    font-size: 20px;
    color: #FFF;
    text-align: center;
} 

.botonescantidad input {
    background-color: #0D0D0D;
    border-radius: 13px;
    border: none;
    width: 50px;
    height: 40px;
    text-align: center;
}

.contenedornotificacion {
    position: absolute;
    z-index: 1;
    margin-left: 200px;
}

.notificacionenproducto {
    font-family: exo;
    color: #FFF;
    background-color: #E8237D;
    border-radius: 100px;
    font-size: 10px;
    font-weight: bold;
    padding: 2px;
    width: 12px;
    height: 12px;
    text-align: center;
}

.infopopupcarrito {
    background-color: #3DD12F;
    padding: 10px;
    width: 500px;
    height: auto;
    font-family: exo;
    color: #000;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
}

.contenedorpopup {
    display: flex;
    justify-content: flex-end;
    margin-right: 200px;
}

.precioenpopup {
    font-weight: bold;
}

.carritoefecto {
    display: block;
}

.carritoefecto:hover .contenedorpopup {
    display: block;
}


.contenedor {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: center;
}

.slider {
    width: 100%;
    max-width: 1920px;
    height: auto;
    overflow: hidden;
}

.slide {
    width: 500%;
    height: 930px;
    display: flex;
}

.slide input {
    display: none;
}

.st {
    width: 20%;
    transition: 2s;
}

.st img {
    width: 1920px;
    height: 930px;
}

.nav-m {
    position: absolute;
    width: 1920px;
    margin-top: -60px;
    display: flex;
    justify-content: center;
}

.m-btn {
    padding: 5px;
    border-radius: 10px;
    width: 60px;
    height: 0;
    cursor: pointer;
    transition: 1s;
}

.m-btn:not(:last-child){
    margin-right: 30px;
}

.m-btn:hover {
    background: linear-gradient(90deg,#3DD12F,#E8237D);
    transform: scale(1.12);
}

#radio1:checked ~.first{
    margin-left: 0;
}
#radio2:checked ~.first{
    margin-left: -20%;
}
#radio3:checked ~.first{
    margin-left: -40%;
}

.nav-auto {
    position: absolute;
    width: 1920px;
    margin-top: 870px;
    display: flex;
    justify-content: center;
}

.nav-auto div {
    background-color: #ffffff7e;
    padding: 5px;
    border-radius: 10px;
    width: 60px;
    height: 0;
    transition: 1s;
}

.nav-auto div:not(:last-child) {
    margin-right: 30px;
    justify-content: center;
}

#radio1:checked ~ .nav-auto .a-b1{
    background: linear-gradient(90deg,#E8237D,#3DD12F);
}

#radio2:checked ~ .nav-auto .a-b2{
    background: linear-gradient(90deg,#E8237D,#3DD12F);
}

#radio3:checked ~ .nav-auto .a-b3{
    background: linear-gradient(90deg,#E8237D,#3DD12F);
}

/*---Compra ---*/

.compra {
    background-image: url(img/imagen-fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
    gap: 2%;
    font-family: exo;
    color: #FFF;
}

.compratitulo {
    margin-top: 2%;
    color: #FFF;
    text-align: center;
    font-family: Exo;
    font-size: 34px;
    font-style: italic;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 1.7px;
}

.textogracias {
    color: #FFF;
    font-family: Exo;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.3px;
}

.flechavolver {
    position: sticky;
    top: 80%;
    left: 76%;
}
/*---Compra FIN---*/


/*---Usuario---*/

.usuario {
    padding-top: 6%;
    padding-bottom: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/imagen-fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cuestionario-sesion {
    width: 100%;
    max-width: 410px;
}

.cuenta-label-1 {
    padding-top: 6%;
    padding-bottom: 2%;
    color: #FFF;
    text-align: center;
    font-family: Exo;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.1px;
}

.boton-iniciar, .boton-registrarse {
    border: 6px solid #3DD12F;
    border-top-right-radius: 22px;
    width: 100%;
    height: 73px;
    color: #FFF;
    text-align: center;
    font-family: Exo;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.1px;
    background-color: transparent;
}

.boton-registrarse:hover {
    background: linear-gradient(90deg, #000 0%, rgba(61, 209, 47, 0.60) 100%);
    cursor: pointer;
}

.boton-iniciar:hover {
    background: linear-gradient(90deg, #000 0%, rgba(61, 209, 47, 0.60) 100%);
}

.registrarse {
    padding-top: 6%;
    padding-bottom: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(img/imagen-fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cuenta-titulo {
    padding-top: 1%;
    color: #FFF;
    text-align: center;
    font-family: Exo;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.1px;
}

.formulario-registro {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 900px;
    height: auto;
    justify-content: space-between;
    align-items: flex-start;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 30px;
    font-family: Exo;
    font-size: 22px;
    color: #FFF;
    letter-spacing: 1.1px;
}

label {
    display: block;
    padding-bottom: 5px;
    padding-top: 22px;
}

input {
    width: 100%;
    max-width: 900px;
    border: 6px solid #3DD12F;
    border-top-right-radius: 22px;
    padding-left: 2%;
    height: 70px;
    color: #FFF;
    font-family: Exo;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.1px;
    background-color: transparent;
}

.columnas {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.columna-formulario-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 2.5%;

}
.columna-formulario-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 2.5%;
}

.boton-registro {
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton-registrarse-fin {
    width: 400px;
    margin-top: 10%;
    margin-left: 65%;

}
.boton-registrarse-fin:hover {
    background: linear-gradient(90deg, #000 0%, rgba(61, 209, 47, 0.60) 100%);
}

/*---Usuario FIN---*/

.botonera-inferior {
    height: 82px;
    width: 100%;
    display: none;
}

.contenedor-mobile {
    display: none;
}


@media screen and (max-width: 600px) {

    /*--- Index --*/
    .navconteiner {
        display: none;
    }

    #cabecera {
        padding: 2%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 550px;
    }
    .iconos {
        display: flex;
        width: 100%;
        max-width: 200px;
        height: 27px;
        justify-content: flex-end;
        align-items: end;
        padding-top: 1.10%;
    }
    .logo {
        display: flex;
        justify-content: flex-start;
        width: 118px;
        height: 68px;
        padding-top: 14px;
        margin-left: 5%;
    }
    nav ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
    }

    li {
        list-style: none;
        padding-right: 32px;
    }

    .botonera-inferior {
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 82px;
        width: 100%;
        position: fixed;
        bottom: 0;
        background-image: url(img/fondo-header.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .iconos-mobile {
        max-width: 350px;
        width: 100%;
        height: auto;
        justify-content: space-between;
        align-items: center;
        padding: 5%;

    }

    footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding-top: 5%;
        background-color: #0D0D0D;
        color: #FFF;
        font-family: Exo;
        font-size: 15px;
        font-style: normal;
        letter-spacing: 0.75px;
        line-height: 22px;
    } 
    .contenedor-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 500px;
        padding-bottom: 30%;
        margin-right: 0;
    }
    .sobre-compra, .sobre-contacto, .sobre-integrantes, .sobre-cursada {
        width: 100%;
        max-width: 500px;
        padding-top: 10%;
    }

    .contenedor-footer ul li {
        padding-top: 1.5%;
    }

    #redes {
        display: flex;
        justify-content: space-between;
        padding-top: 4%;
        padding-bottom: 3%;
        max-width: 20%;
    }

    .contenedor-carrusel {
        width: 550px;
        display: flex;
        justify-content: space-between;
        overflow: scroll;
        padding-left: 6%;
    }
    
    .contenedor-carrusel div {
        width: 1300px;
        height: 600px;
        display: grid;
        justify-content: space-between;
        align-items: center;
        grid-template-columns: auto auto auto auto;
        grid-gap: 30px;
        flex: none;
        margin-right: 20%;
    }

    .contenedor-carrusel::-webkit-scrollbar {
        display: none;
        padding-right: 5%;
        padding-left: 5%;
    }

    .carrusel-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 550px;
        margin: 2% 0% 2% 2%;
        height: auto;
        padding-bottom: 50px;
    }
    
    .remeras-carrusel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 600px;
        padding-right: 10%;
    }

    .titulo-categoria {
        text-align: center;
        font-family: "Covered By Your Grace";
        font-size: 2em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.6px;
        padding-top: 1%;
        color: black;
    }

    #irbtn, #volverbtn {
        display: none;
    }

    h1 {
        font-family: "Covered By Your Grace";
        font-style: normal;
        font-optical-sizing: auto;
        font-size: 40px;
        color: black;
        text-align: center; 
        font-weight: 400; 
        letter-spacing: 2px;
    }

    .vineta {
        width: 50px;
        height: auto;
    }

    .encabezado {
        width: 100%;
        max-width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2%;
    }

    .todos{
        color: #ffff;
        font-size: 30px;
        text-align: center; 
        font-weight: 400; 
        letter-spacing: 2px;
    }

    .cargar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 62px;
        background-color: black;
        margin: 8%;
    }
    
    .letras {
        font-family: "Covered By Your Grace";
        font-optical-sizing: auto;
        font-size: 28px;
        letter-spacing: 1px;
        color: #ffff;
    }

    .contenedor {
        display: none;
    }

    .contenedor-mobile {
        display: flex;
        width: 100%;
        max-width: 600px;
        height: auto;
    }

    .imagen-mobile {
        opacity: 0;
    }

    .slider-mobile {
        width: 100%;
        max-width: 600px;
        height: auto;
        animation-name: mobile;
        animation-duration: 14s;
        animation-direction: normal;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
        animation-delay: 3s;
    }

    @keyframes mobile {
        0% { background-image: url(img/slider-1-mobile.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        35% { background-image: url(img/slider-2-mobile.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        45% { background-image: url(img/slider-2-mobile.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        65% { background-image: url(img/slider-3-mobile.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        85% { background-image: url(img/slider-3-mobile.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        100% { background-image: url(img/slider-1-mobile.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

    }
    
    .galeriapro {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 600px;
        flex-wrap: wrap;
        padding: 20px 0px 0px 20px;
    }
    
    .articulo {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 16px;
        padding-top: 6px;
        width: 100%;
        height: 437px;
    }

    /*--- INDEX FIN --- */

    /*--- Nosotros --- */

    .sectiondiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        max-width: 500px;
        padding-top: 90px;
        padding-bottom: 90px;
    }

    #div01 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        max-width: 500x;
        justify-content: flex-start;
    }

    #div02 {
        width: 100%;
        height: auto;
        padding-top: 40px;
        padding-left: 0;
    }

    .foto-nosotros {
        width: 100%;
        height: auto;
    }

    .textoinfo {
        font-family: "Exo", sans-serif;
        font-style: normal;
        font-size: 25px;
        color: white;
        width: 100%;
        max-width: 500px;
        padding-top: 3%;
        letter-spacing: 1.30px;
        font-weight: 200; 
    }

    .titulonosotros {
        background-color: white;
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center; 
        align-items: center;
    }

    .imgnoso {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 220px;
        height: auto;
        max-width: 600px;
        padding-top: 30px;
    }

    /*--- Nosotros FIN --- */

    /*--- Usuario ---*/

    .usuario {
        padding-top: 20%;
        padding-bottom: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(img/imagen-fondo.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .flechavolver {
        position: sticky;
        margin-top: 18%;
        top: 100%;
        left: 30%;
    }

    .formulario-registro {
        width: 100%;
        display: flex;
        flex-direction: column;
        max-width: 540px;
        height: auto;
        justify-content: center;
        align-items: flex-start;
        padding: 5%;
    }
    
    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 30px;
        font-family: Exo;
        font-size: 18px;
        color: #FFF;
        letter-spacing: 1.1px;
    }


    .columnas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
    }

    .boton-registrarse-fin {
        width: 400px;
        margin-top: 16%;
        margin-left: 20%;
    }

    input {
        width: 100%;
        max-width: 540px;
        border: 6px solid #3DD12F;
        border-top-right-radius: 22px;
        padding-left: 2%;
        height: 70px;
        color: #FFF;
        font-family: Exo;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.1px;
        background-color: transparent;
    }

    .columna-formulario-1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 0;
    
    }
    .columna-formulario-2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding-left: 0;
    }

    .compra {
        background-image: url(img/imagen-fondo.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20%;
        padding-bottom: 20%;
        gap: 2%;
        font-family: exo;
        color: #FFF;
    }

    .compratitulo {
        margin-top: 5%;
        color: #FFF;
        text-align: center;
        font-family: Exo;
        font-size: 32px;
        font-style: italic;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 1.7px;
    }
    
    .textogracias {
        color: #FFF;
        font-family: Exo;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 1.3px;
    }

    /*--- Usuario FIN ---*/

    /*-- Galerias Acce y Ropa --- */

    .divfiltro {
        max-width: 550px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        display: block;
        padding-left: 31%;
    }

    .img-ropa {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 230px;
        height: auto;
        max-width: 180px;
        padding-top: 30px;
    }
    
    .img-acce {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: auto;
        max-width: 250px;
        padding-top: 30px;
    }

    /*-- Galerias Acce y Ropa Fin--- */

    /*-- Producto--- */

    .mainproducto {
        background-image: url(img/imagen-fondo.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding-top: 10%;
        padding-bottom: 10%;
        font-family: exo;
        color: #FFF;
    }

    .contenedorproducto {
        max-width: 550px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2%;
        padding-top: 10%;
        padding-bottom: 15%;
    }

    .foto-detalle-bart {
        width: 100%;
        max-width: 600px;
        height: auto;
    }

    .informacionenproducto {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 36%;
        padding-top: 10%;
        padding-left: 10%;
    }

    .informacionenproducto p {
        font-size: 22px;
        font-weight: normal;
    }

    .info1producto h2 {
        font-size: 35px;
        padding-bottom: 10px;
        font-weight: bold;
    }


    .informacionenproducto h3 {
        font-size: 22px;
    }

    .tallecantidadycompra {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .info3producto {
        display: flex;
        gap: 5%;
        align-items: center;
    }

    .precio-producto {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        font-family: "Exo", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: normal;
        letter-spacing: 1.2px;
        background-color: #E8237D;
        width: 180px;
        height: 41px;
        margin-bottom: 5%;
    }

    .botontalle {
        background-color: #b4b4b4;
        border: none;
        border-radius: 0px 20px 0px 0px;
        width: 322px;
        height: auto;
        font-family: exo;
        font-size: 18px;
        display: block;
    }

    .divtalle {
        display: block;
    }

    .desplegabletalle {
        display: flex;
        flex-direction: column;
        position: absolute;
        display: none;
    }

    .divtalle:hover .desplegabletalle {
        display: block;
    }

    .opcionestalle {
        display: block;
        background-color: #b4b4b4;
        width: 322px;
        padding-right: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        font-size: 20px;
        color: #000;
    }

    .opcionestalle:hover {
        background-color: #3DD12F;
        font-weight: bold;
    }

    .info5producto {
        background-color: #3DD12F;
        width: 366px;
        color: #000;
        padding: 10px;
        font-family: exo;
        font-weight: bold;
        font-size: 22px;
        text-align: center;
    }

    .info5producto:hover {
        background-color: #E8237D;
        color: #FFF;
    }

    .cantidadybotones {
        display: flex;
        gap: 6%;
        align-items: center;
    }

    .botonescantidad {
        display: flex;
        align-items: center;
        gap: 2%;
    }

    .botonresta, .botonsuma {
        background-color: #E8237D;
        width: 30px;
        height: 30px;
        border-radius: 13px;
        border: none;
        font-size: 20px;
        color: #FFF;
        text-align: center;
    } 

    .botonescantidad input {
        background-color: #0D0D0D;
        border-radius: 13px;
        border: none;
        width: 50px;
        height: 40px;
    }

}
