@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

* {
   margin: 0;
   padding: 0;
}
body {
    width: auto;
    margin: auto;
}
header {
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(img/fondo-header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.iconos {
    display: flex;
    width: 250px;
    height: 27px;
    justify-content: space-around;
    align-items: flex-end;
    padding-top: 20px;
    padding-right: 30px;
}

.botonera {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 46px;
    list-style: none;
}

.botonera li {
    padding-right: 10%;
}

.botonera > li > a {
    display: block;
}

.botoner > li:hover {
    color: #3DD12F;
}
.navconteiner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1250px;
    padding-left: 10%;
}

.botonera a {
    display: block;
    padding: 10px;
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 28px;
    color: #ffff;
    letter-spacing: 1.4px;
}

.botonera a:hover {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 28px;
    color: #3DD12F;
    letter-spacing: 1.4px;
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    list-style: none;
}

li {
    list-style: none;
    padding-right: 60px;
}

h1 {
    font-family: "Covered By Your Grace";
    font-style: normal;
    font-optical-sizing: auto;
    font-size: 70px;
    color: black;
    width: 100%;
    height: 100%;
    text-align: center; 
    font-weight: 400; 
    letter-spacing: 3.50px;
}

h2 {
    font-family: "Exo", sans-serif;
    font-style: normal;
    font-size: 35px;
    font-weight: 400;
    color: white;
    padding-bottom: 20px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    width: 118px;
    height: 68px;
    padding-top: 14px;
}

a {
    text-decoration: none;
}

#nosotros{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: column;
    background-image: url(img/imagen-fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.titulonosotros {
    background-color: white;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.imgnoso {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: auto;
    max-width: 1920px;
    padding-top: 30px;
}

.img-ropa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: auto;
    max-width: 1920px;
    padding-top: 30px;
}

.img-acce {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    max-width: 1920px;
    padding-top: 30px;
}

.sectiondiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 1600px;
    padding-top: 90px;
    padding-bottom: 90px;
}

#div01 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 834px;
    max-width: 1920px;
    justify-content: flex-start;
}

#div02 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding-left: 40px;
}

#div03 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-left: 90px;
}


.textoinfo {
    font-family: "Exo", sans-serif;
    font-style: normal;
    font-size: 25px;
    color: white;
    width: 800px;
    padding-top: 3%;
    letter-spacing: 1.30px;
    font-weight: 200; 
}

#colabora {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: column;
    background-image: url(img/imagen-fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.textoinfo2 {
    font-family: "Exo", sans-serif;
    font-style: normal;
    font-size: 24px;
    color: white;
}

.desplegable {
    position: absolute;
    display: none;
    width: 154px;
    height: 280px;
}

.desplegable :hover {
    display: block;
    position: absolute;
    width: 154px;
    height: 240px;
}

.desplegable li {
    display: none;
    align-items: center;
    margin: 6px;
    width: 222px;
    height: 52px;
    background: linear-gradient(90deg,#000000e4 10%,#33ba26f1,#ff1c8288);
    background-color: #acabab3c;
}

.botonera li:hover .menu-vertical {
    display: block;
}

.botonera li:hover {
    color: #3DD12F;
}

#cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1600px;
}
#section-uno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.categorias {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    width: 100%;
}

.encabezado {
    display: flex;
    justify-content: last baseline;
    align-items: center;
    padding-top: 2%;
}

#galeria {
    padding-top: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-image: url(img/imagen-fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 68px 22px;
    padding-bottom: 100px;
}

.todos{
    color: #ffff;
}

.galeriapro {
    display: flex;
    justify-content: center;
    max-width: 1920px;
    flex-wrap: wrap;
    padding: 30px 0px 0px 30px;
}

.proinicio {
    color: #FFF;
    text-align: center;
    font-family: "Exo", sans-serif;
    font-style: normal;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.1px;
}

.precio {
    opacity: 1;
    visibility: visible;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: "Exo", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: normal;
    letter-spacing: 1.2px;
    background-color: #E8237D;
    width: 181px;
    height: 41px;
}

.precio:hover {
    opacity: 0;
    visibility: hidden;
}

.articulo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 16px;
    padding-top: 6px;
    width: 300px;
    height: 437px;
}

.flexible {
    display: block;
    justify-content: center;
    align-items: center;
}

.cargar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 256px;
    height: 62px;
    background-color: black;
}

.cargar :hover {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 256px;
    height: 62px;
    background-color: #E8237D;;
}

.letras {
    font-family: "Covered By Your Grace";
    font-optical-sizing: auto;
    font-size: 34px;
    letter-spacing: 1.7px;
    color: #ffff;
}

.contenedor-footer {
    display: flex;
    justify-content: space-between;
    max-width: 1550px;
    margin-right: 57px;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: first baseline;
    width: 100%;
    height: 209px;
    padding-top: 2%;
    background-color: #0D0D0D;
    background-size: cover;
    color: #FFF;
    font-family: Exo;
    font-size: 15px;
    font-style: normal;
    letter-spacing: 0.75px;
    line-height: 22px;
} 

.sobre-compra, .sobre-contacto, .sobre-integrantes, .sobre-cursada {
    width: 230px;
}

footer img {
    padding-top: 4%;
}

#redes {
    display: flex;
    justify-content: space-between;
    padding-top: 4%;
    max-width: 40%;
}

.local {
    padding-top: 8%;
}

.columnas {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1700px
}

.item-remeras{
    display: block;
}

.nombrescategorias {
    text-align: center;
    font-family: "Covered By Your Grace";
    font-optical-sizing: auto;
    font-size: 34px;
    letter-spacing: 1.7px;
    color: black;
}

.contenedor-carrusel {
    width: 100%;
    width: 1780px;
    display: flex;
    justify-content: space-between;
    overflow: scroll;
}


.contenedor-carrusel div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 18px;
    flex: none;
    padding: 1%;
}

.contenedor-carrusel::-webkit-scrollbar {
    display: none;
    padding-right: 2%;
    padding-left: 2%;
}

.carrusel-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% 4% 8% 4%;
    height: auto;
    padding-bottom: 50px;
}

#irbtn, #volverbtn {
    cursor: pointer;
    margin: 35px;
}

.remeras-carrusel {
    display: block;
    max-width: 320px;
}

.titulo-categoria {
    text-align: center;
    font-family: "Covered By Your Grace";
    font-size: 2.75em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    padding-top: 1%;
    color: black;
}

.titulo-categoria:hover {
    text-decoration: none;
    color: black;
}

.iconos ul li a :hover{
    filter: hue-rotate(240deg);
    opacity: 92%;
}

.producto {
    background-image: url(img/imagen-fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
    gap: 2%;
    font-family: exo;
    color: #FFF;
}

.meme {
    background-image: url(img/imagen-fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
    gap: 2%;
    font-family: exo;
    color: #FFF;
}

.informacion {
    display: flex;
    flex-direction: column;
    max-width: 658px;
    gap: 10%;
    font-size: 34px;  
}

.informacion .precio {
    background-color: #E8237D;
    width: 181px;
    height: 41px;
}

.partetalles {
    display: flex;
    gap: 4%;
}

.botonelegirtalle {
    background-color: #FFF;
    width: 350px;
    height: 30px;
    font-family: lato;
    font-weight: 400;
    color: #0D0D0D;
    text-align: center;
    border-radius: 0px 0px 20px 0px;
    border-color: #FFF;
}

.cantidadycompra {
    display: flex;
    gap: 4%;
}

.seccioncantidad {
    display: flex;
    gap: 4%;
}

.botondemenos, .botondemas {
    background-color: #E8237D;
    border-color: #E8237D;
    width: 30px;
    height: 30px;
    border-radius: 13px;
    font-family: lato;
    font-size: 30px;
    font-weight: 400;
    color: #FFF;
    text-align: center;
}

.campocantidad {
    background-color: #0D0D0D;
    border-radius: 13px;
    width: 60px;
    height: 30px;
    color: #FFF;
}

.botoncomprar {
    background-color: #3DD12F;
    width: 500px;
    height: 54px;
    border-radius: 0px 0px 20px 0px;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    font-family: Exo;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 154px;
    height: 280px;
}

.menu-vertical li {
    align-items: center;
    margin: 6px;
    width: 222px;
    height: 54px;
    background: linear-gradient(90deg,#000000e4 10%,#33ba26f1,#ff1c8288);
    background-color: #acabab3c;
}


.contenedor {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: center;
}

.slider {
    width: 100%;
    max-width: 1920px;
    height: auto;
    overflow: hidden;
}

.slide {
    width: 500%;
    height: 930px;
    display: flex;
}

.slide input {
    display: none;
}

.st {
    width: 20%;
    transition: 2s;
}

.st img {
    width: 1920px;
    height: 930px;
}

.nav-m {
    position: absolute;
    width: 1920px;
    margin-top: -60px;
    display: flex;
    justify-content: center;
}

.m-btn {
    padding: 5px;
    border-radius: 10px;
    width: 60px;
    height: 0;
    cursor: pointer;
    transition: 1s;
}

.m-btn:not(:last-child){
    margin-right: 30px;
}

.m-btn:hover {
    background: linear-gradient(90deg,#3DD12F,#E8237D);
    transform: scale(1.12);
}

#radio1:checked ~.first{
    margin-left: 0;
}
#radio2:checked ~.first{
    margin-left: -20%;
}
#radio3:checked ~.first{
    margin-left: -40%;
}

.nav-auto {
    position: absolute;
    width: 1920px;
    margin-top: 870px;
    display: flex;
    justify-content: center;
}

.nav-auto div {
    background-color: #ffffff7e;
    padding: 5px;
    border-radius: 10px;
    width: 60px;
    height: 0;
    transition: 1s;
}

.nav-auto div:not(:last-child) {
    margin-right: 30px;
    justify-content: center;
}

#radio1:checked ~ .nav-auto .a-b1{
    background: linear-gradient(90deg,#E8237D,#3DD12F);
}

#radio2:checked ~ .nav-auto .a-b2{
    background: linear-gradient(90deg,#E8237D,#3DD12F);
}

#radio3:checked ~ .nav-auto .a-b3{
    background: linear-gradient(90deg,#E8237D,#3DD12F);
}